:root {
  --primary: #1d1d1d;
  --secondary: #fff;
  --accent: #ffe24b;
}
.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  height: 250px;

  .wrapper {
    width: 100%;
    height: 100%;

    .banner-image {
      height: 220px;
      width: 170px;
      border-radius: 12px;
      position: relative;

      .carousel-img-container {
        position: relative;
        width: 100%;
        height: 100%;

        .trailer {
          position: absolute;
          top: -50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        .wish-list {
          position: absolute;
          top: -20%;
          left: 20%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }

      img {
        height: 220px;
        width: 100%;
        cursor: pointer;
        border-radius: 12px;
        transition: transform 0.3s ease;
      }

      &:hover img {
        transform: scale(1.2);
      }

      &:hover .trailer,
      &:hover .wish-list {
        opacity: 1;
      }
    }
  }
}

.access {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  img {
    width: 200px;
    height: 200px;
  }
  p {
    color: #1d1d1d;
  }
  #access-button {
    a {
      color: #1d1d1d;
    }
  }
  #access-button:hover {
    background-color: #1d1d1d;
  }
  #access-button:hover a {
    color: white;
  }
}

.section1 {
  background-color: rgb(53, 53, 53);
  height: 300px;
  width: 100%;
  .Trending {
    margin-left: 4.5vw;
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
  }
}

.authloading {
  width: 100%;
  height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .authloader {
    width: 30px;
    aspect-ratio: 2;
    --first: no-repeat
      radial-gradient(circle closest-side, var(--secondary) 90%, #0000);
    --second: no-repeat
      radial-gradient(circle closest-side, var(--primary) 90%, #0000);
    background: var(--second) 0% 50%, var(--first) 50% 50%,
      var(--second) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
  }
}

.loading {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    width: 60px;
    aspect-ratio: 2;
    --first: no-repeat
      radial-gradient(circle closest-side, var(--accent) 90%, #0000);
    --second: no-repeat
      radial-gradient(circle closest-side, var(--primary) 90%, #0000);
    background: var(--second) 0% 50%, var(--first) 50% 50%,
      var(--second) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
  }
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
