body {
  height: 100%;
  width: 100%;
  // overflow-x: hidden;
}

.landing {
  height: 100vh;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  .bg-img {
    height: 120%;
    width: 100%;

    img {
      height: 120%;
      width: 100%;
      z-index: -1;
      position: absolute;
      right: 0;
    }
  }

  .main {
    height: 100%;
    width: 100%;
  }

  .trending-movie {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 3.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10vw;
    box-sizing: border-box;
    .content {
      height: 100vh;
      width: 100%;
      top: 0;
      position: absolute;
      padding: 5vw;

      .options {
        display: flex;
        align-items: center;
        gap: 1vw;
        .navlinks {
          color: white;
        }
      }

      .movie {
        margin-top: 8vh;
        h1 {
          font-size: 4rem;
          letter-spacing: -.2rem;
          font-family: "Poppins";
        }
        .year{
            p{
                font-size: 1rem;
            }
        }
        p {
          font-size: 0.85rem;
          text-align: left;
        }
      }

      .watch {
        margin-top: 2vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .trailer-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2vw;
        }
      }
    }

    .gradient {
      height: 100vh;
      width: 90vw;
      top: 0;
      position: absolute;
      background-color: rgba(13, 14, 15, 0.774);
      opacity: 2;
      filter: blur(70px);
    }

    .content {
      z-index: 2;
    }
  }
}

.login {
  height: 10vh;
  width: 10vw;

  button {
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    top: 10%;
    right: 10%;
    font-weight: 700;
  }
}
