:root {
  --primary: #1d1d1d;
  --secondary: #fff;
  --accent: #ffe24b;
}

.password {
  width: 90%;
  height: 2.5rem;
  border-radius: 10px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}

.trial,
.profile {
  padding-left: 4vw;
  h1 {
    color: black;
  }
}
.loginPage,
.registrationPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage::before,
.registrationPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bg.jpg");
  filter: blur(3px);
  z-index: -1;
}

.loginCard {
  width: clamp(300px, 50%, 400px);
  height: clamp(300px, 70%, 500px);
  background-color: rgba(53, 53, 53, 0.927);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.registerCard {
  width: clamp(350px, 70%, 400px);
  height: clamp(400px, 95%, 700px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(53, 53, 53, 0.927);
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.passwordforgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.usernameForm {
  gap: 1rem;
}

.searchPage {
  margin-left: 4vw;
  input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    width: 300px;
  }
  .movie-poster {
    width: 150px;
    height: auto;
  }
  li{
    cursor: pointer;
  }
}
