.password {
  width: 90%;
  height: 2.5rem;
  border-radius: 10px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}

.loginPage,
.registrationPage {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  background-image: radial-gradient(at 47% 33%, #1d1d1d 0, transparent 59%),
    radial-gradient(at 92% 35%, hsl(50.33, 100%, 65%) 0, transparent 55%),
    radial-gradient(at 52% 35%, hsl(30.33, 100%, 65%) 0, transparent 55%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginCard {
  width: clamp(300px, 50%, 400px);
  height: clamp(300px, 70%, 500px);
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.registerCard {
  width: clamp(350px, 70%, 400px);
  height: clamp(400px, 95%, 700px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.48);
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.passwordforgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.usernameForm {
  gap: 1rem;
}
