html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: #1d1d1d;
  --secondary-bg: #262626;
  --primary-color: #fff;
  --secondary-color: white;
  --username-size: 32px;
  --title-size: 28px;
  --subtitle: 24px;
}


.Profilecontainer {
  height: 100vh;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  width: clamp(428px, 990px, 990px);
  height: 470px;
  background-color: var(--primary-bg);
  border-radius: 40px;
  border: 2px solid var(--accent-bg);
  display: grid;
  grid-template-rows: 220px auto;
  overflow: auto;
}

.profile-header {
  background: url("banner.jpg") center;
  background-size: cover;
  margin: 10px;
  border-radius: 30px 30px 0 0;
  position: relative;
}
.main-profile {
  display: flex;
  align-items: center;
  position: absolute;
  inset: calc(100% - 75px) auto auto 70px;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  border: 10px solid var(--primary-bg);
}
.profile-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);
  background-color: var(--primary-bg);
  padding: 10px 30px;
  border-radius: 0 50px 50px 0;
  transform: translateX(-10px);
}
.email {
  color: var(--secondary-color);
}

/* ------------ media queries */
@media screen and (max-width: 950px) {
  .last-post {
    display: none;
  }
  .data,
  .social-media {
    grid-column: 1/4;
  }
}

@media screen and (max-width: 768px) {
  .profile-card {
    height: 100%;
    border-radius: 0;
  }
  .profile-header {
    border-radius: 0;
  }
  .main-profile {
    inset: calc(100% - 75px) auto auto 50%;
    transform: translateX(-50%);
    flex-direction: column;
    text-align: center;
  }
  .profile-names {
    transform: translateX(0);
  }
  .profile-body {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
